node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
.expo/
dist/
web-build/
expo-env.d.ts
eas.json
.metro-health-check*
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.DS_Store
*.pem
.env
.env*
.env*.local
*.tsbuildinfo
.vscode
.idea
*.apk
*.aab
*.ap_
*.ipa